$color-text-on-light: rgba(0, 0, 0, .7);
$color-text-on-dark: rgba(255, 255, 255, .8);

$color-primary: #2e7d32;
$color-accent: $color-primary;
$color-navbar: $color-primary;
$color-info: $color-primary;
