$spacing-extra-small: 3px;
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 18px;
$spacing-extra-large: 26px;

$width-separator-thin: 1px;
$width-separator-medium: 2px;
$width-separator-thick: 4px;
