// Newton's method for calculation of square roots
@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}

@function get-luminance($color) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $l: sqrt(.299 * $r * $r + .587 * $g * $g + .114 * $b * $b);
    @return $l;
}

@function get-text-color($background-color) {
    $l: get-luminance($background-color);
    @if ($l > 128) {
        @return $color-text-on-light;
    }

    @return $color-text-on-dark;
}
